<div class="row">
	<div class="col-sm-12">
		<h3>Filter by</h3>
		<form class="form-inline">
		  <div class="form-group row searchData">
		  	<div class="col-sm-3"><input type="text" class="form-control" placeholder="filter By name" ng-model="search.Name"/></div>
		  	<div class="col-sm-3"><input type="text" class="form-control" placeholder="filter By stars" ng-model="search.Stars"/></div>
		  	<div class="col-sm-3"><input type="text" class="form-control" placeholder="sort By user rating" ng-model="search.UserRating"/></div>
		  	<div class="col-sm-3"><input type="text" class="form-control" placeholder="filter by min cost" ng-model="search.MinCost"/></div>
		  </div>
		</form>	
		<h3>Sort by: {{predicate}} <span ng-if="reverse">Desc</span> <span ng-if="!reverse">Asc</span> </h3>
		<div class="row">
			<div class="col-sm-3">
				<a href="#" ng-click="order('Distance')">Distance</a>
				<span class="sortorder" ng-show="predicate === 'Distance' && reverse"> <i class="fa fa-sort-desc"></i> </span>
				<span class="sortorder" ng-show="predicate === 'Distance' && !reverse"> <i class="fa fa-sort-asc"></i> </span>
			</div>
			<div class="col-sm-3">
				<a href="#" ng-click="order('Stars')">Stars</a>
				<span class="sortorder" ng-show="predicate === 'Stars' && reverse"> <i class="fa fa-sort-desc"></i> </span>
				<span class="sortorder" ng-show="predicate === 'Stars' && !reverse"> <i class="fa fa-sort-asc"></i> </span>
			</div>
			<div class="col-sm-3">
				<a href="#" ng-click="order('MinCost')">MinCost</a>
				<span class="sortorder" ng-show="predicate === 'MinCost' && reverse"> <i class="fa fa-sort-desc"></i> </span>
				<span class="sortorder" ng-show="predicate === 'MinCost' && !reverse"> <i class="fa fa-sort-asc"></i> </span>
			</div>
			<div class="col-sm-3">
				<a href="#" ng-click="order('UserRating')">User Rating</a>
				<span class="sortorder" ng-show="predicate === 'UserRating' && reverse"> <i class="fa fa-sort-desc"></i> </span>
				<span class="sortorder" ng-show="predicate === 'UserRating' && !reverse"> <i class="fa fa-sort-asc"></i> </span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	<h3>List</h3>
		<div class="row listingItem" ng-repeat="hotel in hotels | filter:search | orderBy:predicate:reverse">
			<div class="col-sm-2 name">
				{{hotel.Name}} {{hotel.Location}}
			</div>
			<div class="col-sm-2">
				Stars: {{hotel.Stars}}
			</div>
			<div class="col-sm-2">
				Rating: {{hotel.UserRating}}
			</div>
			<div class="col-sm-2">
				Min cost: {{hotel.MinCost}}
			</div>
			<div class="col-sm-2">
				Distance: {{hotel.Distance | number:2}}
			</div>
		</div>
	</div>
</div>