@import "elements.less";

.listingItem{
	margin-top: 10px;
	margin-bottom: 10px;

	padding-top: 10px;
	padding-bottom: 10px;

	border-bottom: 1px #ccc solid;
	&:last-child{
		border-bottom: none;
	}
	.name{
		font-weight: bold;
	}
}
.form-inline .form-control{
		width: 100%;
}